# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
env/
venv/
ENV/

# Environment Variables
.env
.env.local
.env.*.local

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Project Data and Artifacts (Large Binaries)
artifacts/*.joblib
artifacts/*.parquet
data/unprocessed/*
!artifacts/.gitkeep
!data/.gitkeep

# Processed data 
data/output/*

# Unprocessed data
!data/unprocessed/results.csv



